<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
    <title>Eat Burger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers_app.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Eat Da Burger</a>
        <form class="form-inline my-2 my-lg-0 create-form">
            <input class="form-control mr-sm-2" name="name" id="newBurger" type="text" placeholder="Burger to Add"
                required>
            <button class="btn btn-warning my-2 my-sm-0 btn-add" type="submit">Add Burger</button>
        </form>
        </div>
    </nav>
    {{{ body }}}

</body>

</html>