<div class="container">
    <div class="row">
        <div class="col-4">
            <h2 class="text-primary mt-5">Eat these burgers</h2>
            {{#each burgers}}
            {{#unless this.devoured}}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{burger_name}}
                    <a href="#" class="badge badge-warning badge-pill devour" data-id="{{id}}">Devour it!</a>
                </li>
            </ul>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cheeseburger.jpg/1280px-Cheeseburger.jpg"
                alt="cheeseburger" class="img-fluid pt-5">
        </div>

        <div class="col-4">
            <h2 class="text-primary mt-5">These were Devoured</h2>
            {{#each burgers}}
            {{#if devoured}}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{burger_name}}
                </li>
            </ul>
            {{/if}}
            {{/each}}
        </div>
    </div>

</div> {{!-- end container --}}